[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
clickhouse_driver = "==0.0.2"
clickhouse__driver = "==0.0.2"

[dev-packages]

[requires]
python_version = "3.10"
